---
layout: default
title: Home
---

欢迎来到我的博客。
<hr>
{% if site.posts <= 0 %}
<p>这里没有博客...</p>
{% else %}
<ul style="list-style-type:none;margin:0;padding:0">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}" style="text-decoration: none">
        <div style="width: 100%">
          <h3>{{ post.title }}</h3>
          {% if post.excerpt %}
          <span style="color: #495057">{{ post.excerpt | truncate: 78, "..." }}</span>
          {% else %}
          这个文章没有描述
          {% endif %}
          <br>
          <small style="color: #495057">{{ post.date | date: "%-B %-d, %Y" }}</small>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% if site.posts > 5 %}
<a href="/archive" style="text-align: center">查看所有博客</a>
{% endif %}
